@media screen and (max-width: 1120px) {
    #caixa-de-pesquisa, #icone {
        display: none;
    }
}

@media screen and (max-width: 730px) {
    .itens-cabecalho {
        display: none;
    }

    .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }    
}

@media screen and (max-width:860px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.3fr 0.3fr 0.3fr 0.3fr;
        gap: 10px;
        margin: 10px 50px;
    }

    .section-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .section-2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .section-3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .section-4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .section-5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}

